.cart1{
    background: #FFA451;
    height: 100vh;
}
.cart2{
    padding-left: 24px;
    padding-top: 64px;

}
.cart3{
    width: 80px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
    display: flex;
    justify-content: space-around;
}
.cart5{
    color: #27214D;
    font-family: Brandon Grotesque;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    padding-top: 6px;
}.cart6{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 15px;
}
.cart7{
    border-radius: 16px 16px 16px 16px;
    background: #FFF;
    margin-top: 32px;
}
.cart8{
    padding-top: 40px;
    padding-left: 24px;
}
.cart9{
    color: #27214D;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 100% */
letter-spacing: -0.32px;
}
.cart10{
    padding: 6px;
}
.cart11{
    margin-top: 33px;
    display: flex;
    justify-content: space-around;
    position: relative
}
.icon1{
    position: absolute;
    left: 5%;
}
.icon2{
    position: absolute;
    left: 20%;
    top: 15%;
}
.icon3{
    padding-left: 40px;
}
.icon4{
    color: #27214D;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.24px;
}
.icon5{
    color: #27214D;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.24px;
}
.cart12{
    width: 375px;
height: 1px;
background: #F3F3F3;
margin-top: 32px;
}
.cart13{
    padding-left: 24px;
}
.cart14{
    color: #27214D;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 160% */
letter-spacing: -0.2px;
}
.cart15{
    width: 153px;
    height: 2px;
    background: #FFA451;
    margin-top: -20px;
}
.cart16 {
    padding-left: 24px;
}
.cart17{
    color: #27214D;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.16px;
}
.cart18{
    padding-left: 24px;
    padding-top: 34px;
}
.cart19{
    color: #000;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 21px; /* 150% */
letter-spacing: -0.14px;
}
.cart20{
    display: flex;
    padding-top: 39px;
    justify-content: space-around;
    // position: relative;
}
.cart21{
    position: absolute;
    left: 5%;
}
.cart22{
    padding-bottom: 20px;
    padding-left: 20px;

}