  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat:wght@400;700&family=Roboto:wght@300&display=swap');
  .inter {
    font-family: "Inter", sans-serif;
  }
.welcome8  {
    width: 327px;
height: 56px;
flex-shrink: 0;
border-radius: 10px !important;
background: #FFA451 !important;
text-transform: none !important;
}
.text{
    width: 327px;
height: 56px;
flex-shrink: 0;
border-radius: 10px;
background: #F3F1F1;
border-bottom: none !important;
}
.spanback{
  padding: 8px;
}
.cart20 >div:nth-child(2)>button{
  width: 219px;
height: 56px;
flex-shrink: 0;
border-radius: 10px;
background: #FFA451;color: #ffff;
color: #FFF;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: -0.16px;
text-transform: none;
padding-bottom: 20px;
}
/* global.css */
.customButtonStyle button {
  width: 199px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #FFA451;
  // text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #ffff !important;
  text-transform: none !important;
  color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: -0.16px;
}
.trackbut{
text-transform: none !important;
color: #ffff !important;
}
.trackbut2{
color: #FFA451 !important;
text-transform: none !important;

text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: -0.16px;
}
.draw1 >div:nth-child(3) >label{
  color: #27214D;
font-family: Brandon Grotesque;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.2px;
}
.label11 {
  color: #27214D;
  font-family: Brandon Grotesque;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.2px; 
}
.btext1{
  width: 327px;
  height: 56px;
  flex-shrink: 0;
  text-align: center;
  background: #F3F1F1;
}
.btntex{
  color: #FFA451 !important;
text-align: center;
font-family: Brandon Grotesque;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: -0.16px;
text-transform: none !important;
}
.boxtest1{
  border-radius: 24px 24px 0px 0px;
  background: #FFF;
}
.formlabel1{
  color: #27214D !important;
font-family: Brandon Grotesque;
font-size: 20px !important;
font-style: normal !important;
font-weight: 500 !important;
line-height: normal !important;
letter-spacing: -0.2px !important;
}
.textdata{
  width: 134px;
  height: 56px;
  flex-shrink: 0;
  text-align: center;
  background: #F3F1F1;
}
