.order1{
    padding-top: 72px;
    padding-left: 24px;
    display: flex;
    // height: 100vh;
    position: relative;
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
}
.order2{
    display: flex;
    width: 80px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #FFF;
}
.order4{
    // border-radius: 32px;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
background: #FFA451;
height: 140px;
}
.order3{
    padding: 6px;
}
.order5{
    padding-top: 4px 
}
.order6{
    color: #27214D;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 21px; /* 131.25% */
}
.order7{
    padding-left: 40px;
}
.order8{
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.24px;
}
.order9{
    // padding-top: 40px;
}
.order10{
    display: flex;
    justify-content: space-around;
    padding-top: 41px;
}
.order11{
    width: 65px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFFAEB;
    justify-content: center;
    display: flex;
    align-items: center;
}
.order12{
    width: 40px;
height: 40px;
flex-shrink: 0;
}
.order13{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.16px;
}.order14{
    color: #000;
    font-family: Brandon Grotesque;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.14px;
}
.order15{
    color: #27214D;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.16px;
}
.order16{
    position: relative;
    display: flex;
    justify-content: space-around;
}
.order17{
    margin-top: 150px;
}
.order18{
    margin-top: 150px;
}
.order19{
    color: #000;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: -0.16px;
}
.order20{
    color: #27214D;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 133.333% */
letter-spacing: -0.24px;
}
.trackorder1{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #4CD964;
    display: flex;
    justify-content: center;
    align-items: center;
}
.trackorder2{
    width: 40px;
height: 40px;
flex-shrink: 0;
border-radius: 100px;
background: #FFA451;
display: flex;
justify-content: center;
align-items: center;
}
.trackorder3{
    margin-top: 34px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.trackorder4{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}
.trackorder5{
    width: 65px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #F0FEF8;
    display: flex;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
}
.trackorder6{
    display: flex;
    justify-content: center;
    align-items: center;
}