
    .draw1{
        padding-top: 31px;
        padding-left: 23px;
        height: 406px;
  
    }
    .draw2{
        display: flex;
    justify-content: center;
    padding-top: 16px;

    }
    .draw3{
        color: #27214D;
font-family: Brandon Grotesque;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.2px;
padding-left: 23px;
    }
    .draw4{
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
    }
    .draw5{
        display: inline-flex;
        padding: 16px;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        border: 1px solid #FFA451;
    }
    .draw6{
        padding-top: 24px;
        padding-left: 23px;
    }
    .card1{
        display: flex;
        padding-top: 24px;
        padding-left: 23px;
    }
    .card2{
        float: left;
        width: 50%;
    }
    .card3{
        float: right;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card4{
        display: flex;
        justify-content: space-between;
        padding-top: 16px;
        padding-left: 23px;
    }
    .card6{
        justify-content: center;
    align-items: center;
    display: inline-flex;
    padding: 16px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #FFA451;
    background: #FFF;
    }
    .card5{
        padding-top: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card7{
        padding-top: 31px;
        /* padding-left: 23px; */
        height: 511px;
    }
    .card8{
        border-radius: 24px 24px 24px 24px;
        background: #FFA451;
        width: 385px;
        height: 96px;
        flex-shrink: 0;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }